disco.yml
hue.yml
cmd/color/color
cmd/disco/disco
cmd/discod/discod
cmd/hue/hue
cmd/lifx/lifx
cmd/lscolor/lscolor
cmd/numcolors/numcolors
cmd/printgamut/printgamut
cmd/printlerp/printlerp
cmd/printxy/printxy
dist/
