@font-face {
    font-family: 'NotoSansMono';
    src: url('NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 999;
}

* {
    font-family: 'NotoSansMono';
    font-size: xx-large;
}

li, li > form, li > input, li > span {
    font-size: x-large;
}

pre {
    font-size: large;
}

ul {
    list-style: hiragana;
}

body, input {
    background: #000;
    color: #ccc;
}

details, input {
    cursor: pointer;
}

input {
    border: 3px groove #aaa;
}

input:hover {
    background: #222;
}

input:active {
    background: #444;
}

form {
    display: inline-block;
}

body {
    margin: 0;
}

body > div {
    clear: both;
    margin: 0 0.2em;
}

nav {
    background: #280137;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

nav > a, nav > img {
    display: inline-block;
    float: left;
}

nav > a {
    font-size: 0.8em;
    font-variant: all-small-caps;
    color: #ccc;
    text-decoration: none;
    height: 100%;
    padding: 0.25em;
}

a.focus {
    color: #fff;
    text-decoration: underline;
}

a.chasseur {
    float: right;
    background: #9a0200;
}

nav > img {
    height: 1.5em;
    width: 1.5em;
}

p {
    margin: 0.5em 0;
}
