@font-face {
    font-family: 'NotoSansMono';
    src: url('NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 1 999;
}

* {
    font-family: 'NotoSansMono';
    font-size: xx-large;
}

li, li > form, li > input, li > span {
    font-size: x-large;
}

pre {
    font-size: large;
}

ul {
    list-style: hiragana;
}

body, input, a {
    background: #000;
    color: #ccc;
}

details, input, a {
    cursor: pointer;
}

input, a {
    border: 3px groove #aaa;
}

.switch.off .off {
    border: 3px groove #a00;
    color: #c00
}

.switch.on .on {
    border: 3px groove #07a;
    color: #09c;
}

input:hover, a:hover {
    background: #222;
}

input:active, a:active {
    background: #444;
}

form {
    display: inline-block;
}
